* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	background-color: #555;
}

header {
	background-color: #F8E81C;
	
}

h1 {
	font-size: 144px;
}
h2 {
	font-size: 40px;
}

section.current {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 100px;
	justify-content: center;
	background-color: #F8E81C;

}
.weather_holder {
	padding-bottom: 10px;
}
footer {
	padding: 80px;
	text-align: center;
	background-color: #F8E81C;
}
